name: CI
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, ready_for_review, reopened]
jobs:
  pre-commit:
    name: PreCommit
    runs-on: ubuntu-latest
    steps:
    - uses: cachix/install-nix-action@a41eb7ceea97962224a9cc9b217ca915f8de2dfd # v31
      with:
        github_access_token: ${{ secrets.GITHUB_TOKEN }}
    - name: Check out code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: nix checks
      run: nix flake check
    - name: nix pre-commit
      run: nix develop . --command pre-commit run --show-diff-on-failure
